<% if logged_in? %>
  <%= render 'layouts/user_home' %>
  <div class="col-md-8">
    <h3>Micropost Feed</h3>
    <%= render 'shared/feed' %>
  </div>
<% else %>
  <%= render 'layouts/guest_home' %>
<% end %>